<h1>Index</h1>

<ul>
  <li><a href="/first_message">First Message</a></li>
  <li><a href="/second_message">Second Message</a></li>
  <li><a href="/third_message">Third Message</a></li>
</ul>


<% if(message && message.length >0){ %>
    <h2><%= message %></h2>
<% } %>